.CartContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    margin-top: 20px;
}

.NoProducts {
    font-size: 2em;
    color: white;
}

.ButtonProducts {
    width: 350px;
}

.ButtonProducts, .ButtonClear, .ButtonCheckout {
    padding: 10px;
}

.ButtonClear, .ButtonCheckout {
    margin: 0px 10px 10px 10px;
}

.Total {
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

@media (max-width: 400px) {

    .NoProducts {
        font-size: 1.5em;
    }

    .ButtonProducts {
        width: 300px;
    }
}
