.ItemDetail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 100px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.DetailImg {
    width: 500px;
    height: 500px;
}

.DetailInfo {
    width: 50%;
    color: black;
    font-weight: bold;
}

Footer .Option {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}

@media (max-width: 1024px) {

    .ItemDetail {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 20px 100px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    }

    .DetailImg {
        width: 300px;
        height: 300px;
    }
    
    .DetailInfo {
        padding: 20px;
    }
}

@media (max-width: 765px) {
    .ItemDetail {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    
    .DetailImg {
        width: 300px;
        height: 300px;
    }
    
    .DetailInfo {
        width: 90%;
    }
}