.cartContainer {
    padding-right: 20px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: color 0.3s ease;
}

.cartContainer span {
    font-size: 1rem; 
    font-weight: bold; 
}

.cartContainer svg {
    font-size: 1.5rem; 
}

.cartContainer:hover {
    color: #646cff;
}

@media (max-width: 768px) {
    .cartContainer {
        padding-right: 0px;
    }
}