.spinner-container {
    height: 100vh;
    display: flex;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.spinner {
    border: 5px solid white;
    border-top: 5px solid #646cff;
    border-radius: 50%;
    width: 100px; 
    height: 100px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

