.CheckoutContainer {
    min-height: 100vh;
}

.Title {
    font-size: 2em;
    margin-bottom: 20px;
    color: white;
}

.InfoContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Cartel {
    font-weight: bold;
    font-size: 2em;
    color: white;
}

.ButtonProducts {
    width: 350px;
}

@media (max-width: 400px) {
    .Cartel {
        font-size: 1.5em;
    }

    .ButtonProducts {
        width: 300px;
    }

}